#notDragTarget .tree-table-row-cell:filled:even {
    -fx-background-color: #f6f6f6;
}

#notDragTarget .tree-table-row-cell:filled:odd {
    -fx-background-color: #ffffff;
}

#notDragTarget .tree-table-row-cell:filled:hover {
    -fx-background-color: #c0e0ff;
}

#notDragTarget .tree-table-row-cell:filled:selected .tree-table-cell {
    -fx-background-color: #a0b0ff;
    -fx-text-fill: #000000;
}

#dragTarget {
    -fx-background-color: #d0e0ff;
}

#dragTarget .tree-table-cell {
    -fx-background-color: #d0e0ff;
    -fx-text-fill: #808080;
    -fx-border-color: #d0e0ff;
    -fx-border-size: 3 3 3 3;
    -fx-padding: 0 0 1 3;
}

.button {
    -fx-background-insets: 0,0,0;
    -fx-padding: 0 0 0 0;
}

.tooltip {
    -fx-border-color: #767676;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 12;
    -fx-padding: 4 4 4 4;
}