# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches: master

jobs:
  build:

    runs-on: windows-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn clean javafx:jlink

    - name: Copy Assets
      run: cp ButtonIcons D:\a\WooGLE\WooGLE\target\WOGAnniversaryEditor\bin && cp ObjectIcons D:\a\WooGLE\WooGLE\target\WOGAnniversaryEditor\bin

    - uses: actions/upload-artifact@v4
      with:
        name: WooGLE2
        path: D:\a\WooGLE\WooGLE\target\WOGAnniversaryEditor\bin/
